/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
html,
body {
	height: 100%;
}
body {

	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
#root,
#__next {
	isolation: isolate;
}
/* end of josh's reset */

/* melissa's faves */

h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: center;
}
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

	font-size: 17px;
	padding: 8px;
}

* {
	box-sizing: border-box;
}

header {
	display: flex;
	background-color: rgb(234, 119, 230);
	justify-content: center;
	align-items: center;
	min-height: 6rem;
}

#title {
	color: white;
	font-size: 3rem;
}

ul {
	display: flex;
	justify-content: space-around;
}

li {
	list-style: none;
}

main {
	display: flex;
	flex-direction: column;
align-items: center;
}

button {

	border: none;
	background-color: orange;
	color: white;
	font-weight: bold;
	border-radius: 0.25rem;
	padding: 0rem 2rem;
  max-width: fit-content;
}
span{
  font-size:3rem;
  
}
h2{
  padding:2rem;

}